//
// Variables
// --------------------------------------------------
$navy: #231e60;
$white: #ffffff;
$leaf-green: #2ed16d;
$sky-blue: #5191fa;
$border-gray: rgba(35,30,95,.15);

$font-family-light: "poppins-light", Arial, Helvetica, sans-serif !default;
$font-family-regular: "poppins", Arial, Helvetica, sans-serif !default;
$font-family-medium: "poppins-medium", Arial, Helvetica, sans-serif !default;
$font-family-semibold: "poppins-semibold", Arial, Helvetica, sans-serif !default;
$font-family-bold: "poppins-bold", Arial, Helvetica, sans-serif !default;
$font-family-extrabold: "poppins-extrabold", Arial, Helvetica, sans-serif !default;